.wrapper {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 20px;
  margin: 16px 24px; 
}

.info {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding: 8px 16px 0 16px;

  & .general-info {
    width: 50%;
    margin: 0 0 16px 8px;
  }
}

.stat {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  & .name {
    font-weight: 600;
  }
}

.description {
  margin: 0 -16px;
  padding: 16px 16px;
  background: #fafafa;

  & .title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 12px;
  }

  & .text {
    margin: 0 8px;
    font-size: 14px;
    line-height: 20px;
  }
}