@import "variables.css";

.screen-content-container {
  display: flex;
  justify-content: center;
  padding: 0 var(--desktop-container-side-paddings);
  min-width: var(--desktop-container-min-width);
  margin: var(--desktop-container-vertical-margins) 0;
}