@import "variables.css";

.screen-content-container {
  display: flex;
  justify-content: center;
  padding: calc(var(--desktop-header-height) + var(--desktop-container-vertical-margins)) 
            var(--desktop-container-side-paddings)
            var(--desktop-container-vertical-margins)
            var(--desktop-container-side-paddings);
  min-width: var(--desktop-container-min-width);
}