@import "mixins/layout";


.wrapper {
  @mixin with-sidebar;
  min-height: 900px;
}

.grid {
  display: flex;
  max-width: 1440px;
  width: 1440px;
  margin: 24px 36px;

  & .col {
    width: 50%;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.js {
  background-image: url(./icons/js.svg);
}

.css {
  background-image: url(./icons/css.svg);
}

.html5 {
   background-image: url(./icons/html5.svg);
}

.react {
  background-image: url(./icons/react.svg);
}

.ts {
  background-image: url(./icons/ts.svg);
}

.redux {
  background-image: url(./icons/redux.svg);
}

.webpack {
   background-image: url(./icons/webpack.svg);
}

.ember {
   background-image: url(./icons/ember.svg);
}

.angular {
   background-image: url(./icons/angular.svg);
}