@import "mixins/layout";

.grid {
  display: flex;
  flex: 1;

  & .col {
    width: 50%;
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

@mixin mobile-layout {
  .grid {
    flex-direction: column;
    align-items: center;

    & .col {
      width: 100%;
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}