@import "normalize.css";
@import "reset-styles";
@import "variables.css";
@import "./fonts.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans";
  background: var(--app-bg-color);

  & > div {
    position: relative;
    display: flex;
    min-height: 100%;
  }
}

.root {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: var(--desktop-header-height) 0 0 var(--desktop-sidebar-width)
}

* > * {
  box-sizing: border-box;
}
