@import "normalize.css";
@import "reset-styles";
@import "./fonts.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans";
  background: var(--main-bg-color);

  & > div {
    position: relative;
    display: flex;
    min-height: 100%;
  }
}

.root {
  position: relative;
}

* > * {
  box-sizing: border-box;
}
