.link,
.sub-link {
  color: #212121;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #eee;
  }

  & .title {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 15px;
  }
}

.link {
  font-weight: bold;
  height: 46px;
  padding-left: 22px;
}

.sub-link {
  height: 33px;
  padding-left: 46px;
}

.active {
  background-color: #eee;
}
