.header {
  height: 64px;
  padding-left: 24px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;

  & .photo {
    height: 40px;
    width: 40px;
    background-image: url(./cat.jpg);
    background-repeat: no-repeat;
        background-size: 100%;
    background-position-y: 20%;
    border-radius: 4px;
    margin-right: 12px;
  }

  & .title,
  & .sub-title {
    color: #212121;
    width: 100%;
  }

  & .title {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .sub-title {
    font-size: 14px;
  }
}
