.sidebar {
  width: 256px;
  height: 100%;
  background: #fff;
  color: #212121;
  border-right: 1px solid rgba(0, 0, 0, .14);
}

.list {
      padding: 12px 0 0 0;
}

.icon {
  margin-right: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;

  &.tools {
    margin-bottom: 1px;
    background-image: url(./icons/tools.svg);
  }

  &.profile {
    margin-bottom: 4px;
    background-image: url(./icons/profile.svg);
  }

  &.frontend {
    background-image: url(./icons/frontend.svg);
  }

  &.backend {
    background-image: url(./icons/backend.svg);
  }

  &.stack {
    height: 19px;
    width: 19px;
    margin-bottom: 1px;
    background-image: url(./icons/stack.svg);
  }
}

