.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100%;
  background: #fff;
  color: #212121;
  border-right: 1px solid rgba(0, 0, 0, .14);
  z-index: 2;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.list {
  padding: 12px 0 0 0;

  & .item {
    color: #212121;
    font-weight: bold;
    padding: 15px 0 15px 22px;
    display: flex;
    align-items: center;

    & .title {
      font-size: 14px;
      text-transform: capitalize;
      line-height: 15px;
    }

    & .icon {
      margin-right: 9px;

      &.tool {
        width: 15px;
        height: 15px;
        margin-bottom: 1px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./icons/tool.svg);
      }
    }
  }
}