@import "mixins/layout";
@import "mixins/lists";

.pie {
  width: 400px;
  height: 320px;
  margin-bottom: 10px;
  margin: 0 auto;

  & > svg {
    overflow: visible;
  }
}

@mixin mobile-layout {
  .pie {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;

    & > svg {
      overflow: visible;
    }
  }
}