.wrapper {
  display: flex;
}

.tooltip {
  padding: 16px 16px 13px 19px;
  background-color: #424d5d !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.27);

  &:after {
    bottom: -3px !important;
    left: calc(50% - 5px) !important;
    width: 10px !important;
    height: 10px !important;
    margin-left: 0 !important;
    border: none !important;
    background-color: #424d5d !important;
    transform: rotate(45deg);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.27);
  }
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./icon-help.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

