    .fade-in {
      max-height: 0;

      &.fade-in-active {
        max-height: 401px;
        transition: max-height 0.4s linear;
      }
    }

    .fade-out {
      max-height: 401px;

      &.fade-out-active {
        max-height: 0;
        transition: max-height 0.4s linear;
      }
    }